<section id="about-me" class="about-me-section section">
  <div class="container about-me-container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-image-and-text-wrap">
      <div class="about-me-text-wrapper">
        <p class="about-me-text">
          I work with people all over the world to create impressive and
          <span>functional</span>
          <span>websites</span> that reflect each client's unique personality.
        </p>
      </div>
      <div class="about-me-image-wrapper">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/about-me/about-me-comp.webp           1x,
              /img/about-me/retina/about-me-comp@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/about-me/about-me-tab.webp            1x,
              /img/about-me/retina/about-me-tabl@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/about-me/about-me-mob.webp           1x,
              /img/about-me/retina/about-me-tel@2x.webp 2x
            "
          />
          <img
            src="/img/about-me/about-me-comp.webp"
            alt="developer photo"
            width="343"
            height="500"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <ul class="about-me-accordion-wrapper">
      <li class="acc">
        <h3 class="acc-header">
          <button
            type="button"
            class="acc-btn"
            aria-label="Open description"
            aria-expanded="false"
            aria-controls="about-me-content"
          >
            About Me
            <span class="acc-arrow-circle">
              <svg class="acc-arrow" width="18" height="18">
                <use href="/img/sprite.svg#icon-small-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="acc-content" id="about-me-content">
          <p class="acc-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>

          <p class="acc-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>

      <!-- Блок "Role" -->
      <li class="acc">
        <h3 class="acc-header">
          <button
            type="button"
            class="acc-btn"
            aria-label="Open description"
            aria-expanded="false"
            aria-controls="role-content"
          >
            Role
            <span class="acc-arrow-circle">
              <svg class="acc-arrow" width="18" height="18">
                <use href="/img/sprite.svg#icon-small-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="acc-content" id="role-content">
          <ul class="acc-list">
            <li class="acc-item">
              <p class="acc-text">Frontend development</p>
            </li>
            <li class="acc-item">
              <p class="acc-text">HeadlessCMS, Wordpress</p>
            </li>
            <li class="acc-item"><p class="acc-text">Blender(enjoy)</p></li>
          </ul>
        </div>
      </li>

      <!-- Блок "Education" -->
      <li class="acc">
        <h3 class="acc-header">
          <button
            type="button"
            class="acc-btn"
            aria-label="Open description"
            aria-expanded="false"
            aria-controls="education-content"
          >
            Education
            <span class="acc-arrow-circle">
              <svg class="acc-arrow" width="18" height="18">
                <use href="/img/sprite.svg#icon-small-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="acc-content" id="education-content">
          <ul class="acc-list">
            <li class="acc-item">
              <p class="acc-text">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </p>
            </li>
            <li class="acc-item">
              <p class="acc-text">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </p>
            </li>
            <li class="acc-item">
              <p class="acc-text">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="about-me-container-swiper">
      <div class="about-me-swiper skills-swiper">
        <ul class="about-me-swiper-wrapper swiper-wrapper">
          <li class="swiper-slide about-me-swiper-slide">
            <div class="swiper-slide-transform">HTML/CSS</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="swiper-slide-transform">JavaScript</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="swiper-slide-transform">Node.js</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="swiper-slide-transform">React</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="swiper-slide-transform">React Native</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="swiper-slide-transform">Soft skills</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="swiper-slide-transform">MySQL</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="swiper-slide-transform">Vue.js</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="swiper-slide-transform">Angular.js</div>
          </li>
        </ul>
      </div>
      <button class="swiper-button-next" aria-label="Next slide">
        <svg class="swiper-arrow-next" width="28" height="28">
          <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
