<section class="covers-section">
  <ul class="covers-list">
    <li class="covers-row">
      <ul class="covers-row-list">
        <li class="covers-row-item">
          <img
            src="img/covers/covers-2.webp"
            alt=""
            srcset="img/covers/covers-2.webp 1x, img/covers/covers-2@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-3.webp"
            alt=""
            srcset="img/covers/covers-3.webp 1x, img/covers/covers-3@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-4.webp"
            alt=""
            srcset="img/covers/covers-4.webp 1x, img/covers/covers-4@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
      </ul>
    </li>
    <li class="covers-row">
      <ul class="covers-row-list">
        <li class="covers-row-item">
          <img
            src="img/covers/covers-8.webp"
            alt=""
            srcset="img/covers/covers-8.webp 1x, img/covers/covers-1@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>

        <li class="covers-row-item">
          <img
            src="img/covers/covers-5.webp"
            alt=""
            srcset="img/covers/covers-5.webp 1x, img/covers/covers-1@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>

        <li class="covers-row-item">
          <img
            src="img/covers/covers-7.webp"
            alt=""
            srcset="img/covers/covers-7.webp 1x, img/covers/covers-1@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-6.webp"
            alt=""
            srcset="img/covers/covers-6.webp 1x, img/covers/covers-6@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-10.webp"
            alt=""
            srcset="
              img/covers/covers-10.webp   1x,
              img/covers/covers-1@2x.webp 2x
            "
            width="544"
            height="314"
          />
        </li>
      </ul>
    </li>
    <li class="covers-row">
      <ul class="covers-row-list">
        <li class="covers-row-item">
          <img
            src="img/covers/covers-10.webp"
            alt=""
            srcset="
              img/covers/covers-10.webp    1x,
              img/covers/covers-10@2x.webp 2x
            "
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-4.webp"
            alt=""
            srcset="img/covers/covers-4.webp 1x, img/covers/covers-4@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-9.webp"
            alt=""
            srcset="img/covers/covers-9.webp 1x, img/covers/covers-1@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-1.webp"
            alt=""
            srcset="img/covers/covers-1.webp 1x, img/covers/covers-1@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-6.webp"
            alt=""
            srcset="img/covers/covers-6.webp 1x, img/covers/covers-6@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
      </ul>
    </li>
    <li class="covers-row">
      <ul class="covers-row-list">
        <li class="covers-row-item">
          <img
            src="img/covers/covers-7.webp"
            alt=""
            srcset="img/covers/covers-7.webp 1x, img/covers/covers-7@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-2.webp"
            alt=""
            srcset="img/covers/covers-2.webp 1x, img/covers/covers-2@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-3.webp"
            alt=""
            srcset="img/covers/covers-3.webp 1x, img/covers/covers-3@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-8.webp"
            alt=""
            srcset="img/covers/covers-8.webp 1x, img/covers/covers-8@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-5.webp"
            alt=""
            srcset="img/covers/covers-5.webp 1x, img/covers/covers-5@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
      </ul>
    </li>
    <li class="covers-row">
      <ul class="covers-row-list">
        <li class="covers-row-item">
          <img
            src="img/covers/covers-4.webp"
            alt=""
            srcset="img/covers/covers-4.webp 1x, img/covers/covers-4@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-8.webp"
            alt=""
            srcset="img/covers/covers-8.webp 1x, img/covers/covers-8@2x.webp 2x"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="img/covers/covers-10.webp"
            alt=""
            srcset="
              img/covers/covers-10.webp    1x,
              img/covers/covers-10@2x.webp 2x
            "
            width="544"
            height="314"
          />
        </li>
      </ul>
    </li>
  </ul>
</section>
