<header>
  <div class="container header-container">
    <div class="header-logo">
      <img
        class="logo-img"
        src="../img/header/headers.webp"
        srcset="
          ../img/header/headers.webp          1x,
          ../img/header/retina/headers@2x.png 2x
        "
        width="80"
        height="80"
        alt="Portfolio owner photo"
      />
      <svg class="" width="84" height="19">
        <use href="../img/logo.svg#logo"></use>
      </svg>
    </div>
    <div class="menu-tablet-desktop">
      <a class="menu" href="">Menu</a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#about-me">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#FAQ">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="#work-together" class="order-project-btn">Order the project </a>
    <a href="" class="burger-lnk">
      <svg class="burger-svg" width="28" height="28">
        <use href="../img/logo.svg#burger"></use>
      </svg>
    </a>

    <div class="modal-menu">
      <a href="" class="modal-close-lnk">
        <svg class="modal-close-svg" width="28" height="28">
          <use href="../img/logo.svg#modal-close"></use>
        </svg>
      </a>

      <nav class="nav-modal">
        <ul class="nav-list-modal">
          <li class="nav-item">
            <a class="nav-link" href="#about-me">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#FAQ">FAQ</a>
          </li>
        </ul>
      </nav>
      <a href="#work-together" class="order-project-btn-modal">
        Order the project
      </a>
    </div>
  </div>
</header>
