<header class="header">
  <div class="container header-container">
    <div class="header-logo">
      <img
        class="logo-img"
        src="/img/header/headers.webp"
        srcset="
          /img/header/headers.webp          1x,
          /img/header/retina/headers@2x.png 2x
        "
        width="80"
        height="80"
        alt="Portfolio owner photo"
      />
      <img
        src="/img/logo.svg"
        alt="logo"
        class="header-logo-icon"
        width="84"
        height="19"
      />
    </div>
    <div class="menu-tablet-desktop">
      <a class="menu" href="">Menu</a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#about-me">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#FAQ">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-right-side">
      <div class="theme-container">
        <button class="themes-toggle" aria-label="Change theme">
          <svg class="themes-switcher-icon">
            <use href="/img/sprite.svg#icon-small-arrow-down"></use>
          </svg>
        </button>
        <div class="overlay-themes-menu">
          <div class="themes-option" data-theme="blue"></div>
          <div class="themes-option" data-theme="red"></div>
          <div class="themes-option" data-theme="red-orange"></div>
          <div class="themes-option" data-theme="dark-green"></div>
          <div class="themes-option" data-theme="yellow"></div>
          <div class="themes-option" data-theme="orange"></div>
        </div>
      </div>
      <a href="#work-together" class="order-project-btn">Order the project </a>
      <button class="burger-btn" aria-label="Open mobile menu">
        <svg class="burger-svg" width="28" height="28">
          <use href="img/sprite.svg#icon-mobile-menu-open"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
