<header style="background-color: black">
  <div class="container header-container">
    <div class="header-logo">
      <img src="../img/header/headers.webp" alt="Portfolio owner photo" />
      <svg class="logo-icon" width="84" height="19" style="fill: black">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </div>
    <a href="">Menu</a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""></a>
        </li>
      </ul>
    </nav>
    <button class="order-project-btn" type="button">Order the project</button>
  </div>
</header>
