<section class="projects-section section" id="projects">
  <div class="container">
    <h2 class="projects-main-title">Projects</h2>
    <div class="projects-swiper-container">
      <ul class="projects-swiper-wrapper swiper-wrapper">
        <li class="projects-item-slides swiper-slide swiper-slide-active">
          <div class="projects-item-slides-first-part">
            <ul class="projects-list">
              <li class="projects-item">#react</li>
              <li class="projects-item">#js</li>
              <li class="projects-item">#node js</li>
              <li class="projects-item">#git</li>
            </ul>
            <p class="projects-second-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/illia-lukianov/team-projects-js-united"
              class="projects-button"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >See project</a
            >
          </div>
          <div class="projects-item-slides-second-part">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  img/projects/projects-1-comp-tab.webp           1x,
                  img/projects/retina/projects-1-comp-tab@2x.webp 2x
                "
              />
              <img
                srcset="
                  img/projects/projects-1-tel.webp           1x,
                  img/projects/retina/projects-1-tel@2x.webp 2x
                "
                src="img/projects/projects-1-tel.webp"
                alt="Expand Your mind"
                width="311"
                height="195"
                class="projects-image"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="projects-item-slides swiper-slide">
          <div class="projects-item-slides-first-part">
            <ul class="projects-list">
              <li class="projects-item">#react</li>
              <li class="projects-item">#js</li>
              <li class="projects-item">#node js</li>
              <li class="projects-item">#git</li>
            </ul>
            <p class="projects-second-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/illia-lukianov/team-projects-js-united"
              class="projects-button"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >See project</a
            >
          </div>
          <div class="projects-item-slides-second-part">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  img/projects/projects-2-comp-tab.webp           1x,
                  img/projects/retina/projects-2-comp-tab@2x.webp 2x
                "
              />
              <img
                srcset="
                  img/projects/projects-2-tel.webp           1x,
                  img/projects/retina/projects-2-tel@2x.webp 2x
                "
                src="img/projects/projects-2-tel.webp"
                alt="Pet Love"
                width="311"
                height="195"
                class="projects-image"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="projects-item-slides swiper-slide">
          <div class="projects-item-slides-first-part">
            <ul class="projects-list">
              <li class="projects-item">#react</li>
              <li class="projects-item">#js</li>
              <li class="projects-item">#node js</li>
              <li class="projects-item">#git</li>
            </ul>
            <p class="projects-second-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/illia-lukianov/team-projects-js-united"
              class="projects-button"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >See project</a
            >
          </div>
          <div class="projects-item-slides-second-part">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  img/projects/projects-3-comp-tab.webp           1x,
                  img/projects/retina/projects-3-comp-tab@2x.webp 2x
                "
              />
              <img
                srcset="
                  img/projects/projects-3-comp-tab.webp           1x,
                  img/projects/retina/projects-3-comp-tab@2x.webp 2x
                "
                src="img/projects/projects-3-tel.webp"
                alt="Vocab Builder"
                width="311"
                height="195"
                class="projects-image"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="projects-prev-next-buttons">
      <button class="projects-prev-btn" aria-label="Previous slide">
        <svg class="icon-arrow-left icon-arrow" width="24" height="24">
          <use href="img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="projects-next-btn" aria-label="Next slide">
        <svg class="icon-arrow-right icon-arrow" width="24" height="24">
          <use href="img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
