<section class="projects-section" id="projects">
  <div class="container">
    <div class="swiper-container">
      <ul class="projects-list-slides swiper-wrapper">
        <li class="projects-item-slides swiper-slide swiper-slide-active">
          <h3 class="projects-main-title">Projects</h3>
          <div class="projects-wrapper-all">
            <div class="projects-wrapper-all-element">
              <ul class="projects-list">
                <li class="projects-item">#react</li>
                <li class="projects-item">#js</li>
                <li class="projects-item">#node js</li>
                <li class="projects-item">#git</li>
              </ul>
              <p class="projects-second-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://github.com/illia-lukianov/team-projects-js-united"
                class="projects-button"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="projects-wrapper-image">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    img/projects/projects-1-comp-tab@1x.webp        1x,
                    img/projects/retina/projects-1-comp-tab@2x.webp 2x
                  "
                />
                <img
                  src="img/projects/projects-1-tel.webp"
                  alt="Expand Your mind"
                  width="311"
                  height="195"
                  class="projects-image"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="projects-item-slides swiper-slide">
          <h3 class="projects-main-title">Projects</h3>
          <div class="projects-wrapper-all">
            <div class="projects-wrapper-all-element">
              <ul class="projects-list">
                <li class="projects-item">#react</li>
                <li class="projects-item">#js</li>
                <li class="projects-item">#node js</li>
                <li class="projects-item">#git</li>
              </ul>
              <p class="projects-second-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://github.com/illia-lukianov/team-projects-js-united"
                class="projects-button"
                >See project</a
              >
            </div>
            <div class="projects-wrapper-image">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    img/projects/projects-2-comp-tab@1x.webp        1x,
                    img/projects/retina/projects-2-comp-tab@2x.webp 2x
                  "
                />
                <img
                  src="img/projects/projects-2-tel.webp"
                  alt="Pet Love"
                  width="311"
                  height="195"
                  class="projects-image"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="projects-item-slides swiper-slide">
          <h3 class="projects-main-title">Projects</h3>
          <div class="projects-wrapper-all">
            <div class="projects-wrapper-all-element">
              <ul class="projects-list">
                <li class="projects-item">#react</li>
                <li class="projects-item">#js</li>
                <li class="projects-item">#node js</li>
                <li class="projects-item">#git</li>
              </ul>
              <p class="projects-second-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://github.com/illia-lukianov/team-projects-js-united"
                class="projects-button"
                >See project</a
              >
            </div>
            <div class="projects-wrapper-image">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    img/projects/projects-3-comp-tab@1x.webp        1x,
                    img/projects/retina/projects-3-comp-tab@2x.webp 2x
                  "
                />
                <img
                  src="img/projects/projects-3-tel.webp"
                  alt="Pet Love"
                  width="311"
                  height="195"
                  class="projects-image"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="projects-prev-next-buttons">
      <button class="prev">
        <svg class="icon-arrow-left" width="24" height="24">
          <use href="img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="next">
        <svg class="icon-arrow-right" width="24" height="24">
          <use href="img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
