<div class="slider">
  <div class="slides">
    <section>
      <h2>Programming Across Borders: Ideas, Technologies, Innovations</h2>
      <button type="button">See project</button>
      <ul>
        <li>#react</li>
        <li>#js</li>
        <li>#node js</li>
        <li>#git</li>
      </ul>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/projects/projects-1-comp-tab@1x.webp        1x,
            ../img/projects/retina/projects-1-comp-tab@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/projects/projects-1-tel@1x.webp        1x,
            ../img/projects/retina/projects-1-tel@2x.webp 2x
          "
        />
        <img
          src="../img/projects/projects-1-comp-tab@1x.webp"
          alt="Expand Your mind"
          width="311"
          height="195"
          class="projects-class"
        />
      </picture>
    </section>
    <section>
      <h2>Programming Across Borders: Ideas, Technologies, Innovations</h2>
      <button type="button">See project</button>
      <ul>
        <li>#react</li>
        <li>#js</li>
        <li>#node js</li>
        <li>#git</li>
      </ul>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/projects/projects-2-comp-tab@1x.webp        1x,
            ../img/projects/retina/projects-2-comp-tab@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/projects/projects-2-tel@1x.webp        1x,
            ../img/projects/retina/projects-2-tel@2x.webp 2x
          "
        />
        <img
          src="../img/projects/projects-2-comp-tab@1x.webp"
          alt="Pet Love"
          width="311"
          height="195"
          class="projects-class"
        />
      </picture>
    </section>
    <section>
      <h2>Programming Across Borders: Ideas, Technologies, Innovations</h2>
      <button type="button">See project</button>
      <ul>
        <li>#react</li>
        <li>#js</li>
        <li>#node js</li>
        <li>#git</li>
      </ul>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/projects/projects-3-comp-tab@1x.webp        1x,
            ../img/projects/retina/projects-3-comp-tab@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/projects/projects-3-tel@1x.webp        1x,
            ../img/projects/retina/projects-3-tel@2x.webp 2x
          "
        />
        <img
          src="../img/projects/projects-3-comp-tab@1x.webp"
          alt="Pet Love"
          width="311"
          height="195"
          class="projects-class"
        />
      </picture>
    </section>
    <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
    <button class="next" onclick="moveSlide(1)">&#10095;</button>
  </div>
</div>
