/* #region SECTION */
.about-me-section {
  padding-top: 64px;
}
.about-me-text {
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 272px;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.about-me-text-wrapper {
  background: #242527;

  max-width: 343px;
  border-radius: 24px;

  margin-bottom: 16px;
}
.about-me-text span:first-child {
  color: var(--accent-color);
}
.about-me-text span:last-child {
  color: var(--dark-accent-color);
}
.about-me-image-wrapper {
  max-width: 343px;
  border-radius: 24px;
}
.about-me-image-wrapper picture {
  max-width: 343px;
}
.about-me-accordion-wrapper {
  width: 100%;
  max-width: 343px;
  margin-top: 32px;
  margin-bottom: 32px;
}
/* #endregion */

/* #region ACCORDEON */
.acc {
  margin-bottom: 8px;

  background-color: inherit;

  border-bottom: 1px solid rgba(250, 250, 250, 0.2);

  overflow: hidden;
}
.acc-header {
  font-size: 16px;
  color: var(--second-title-color);
}
.acc-btn {
  width: 100%;
  padding-left: 0;

  padding-top: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: 'Inter Tight', sans-serif;
  text-align: left;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;

  color: var(--dark-accent-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: padding ease-in 300ms;
}

.acc-content {
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 20px;
}

.acc.is-active .acc-btn {
  padding-bottom: 24px;
}

.acc.is-active .acc-content {
  max-height: 1000px;
  opacity: 1;
}
.acc-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-color);

  margin-bottom: 32px;
}
.acc-text:last-child {
  margin-bottom: 16px;
}
.acc-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.acc-item {
  margin-bottom: 8px;
}

.acc-arrow-circle {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 300ms ease-in;
}
@media (hover: hover) {
  .acc-btn:hover .acc-arrow-circle,
  .acc-btn:focus .acc-arrow-circle {
    border: 1px solid #fafafa;
  }
}
@media not (hover: hover) {
  .acc-btn:active .acc-arrow-circle {
    border-color: #fafafa;
  }
}

.acc-arrow {
  stroke: var(--main-color);
  transition: transform ease-in 300ms;
  transform-origin: center;
}

.acc.is-active .acc-arrow {
  transform: rotate(180deg);
}

/* #endregion */

/* #region SWIPER */

.about-me-container-swiper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-me-swiper.skills-swiper {
  box-sizing: border-box;
  margin-left: 0;
  overflow: hidden;
  align-items: center;
  max-width: 260px;
  position: relative;
}

.about-me-swiper .about-me-swiper-slide {
  margin-right: 0;
}
.about-me-swiper .swiper-slide-transform {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #333;

  cursor: pointer;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
}
.about-me-swiper .swiper-slide-active .swiper-slide-transform {
  background-color: var(--accent-color);
  border: none;
}
.about-me-container-swiper .swiper-button-next {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.about-me-container-swiper .swiper-arrow-next {
  stroke: #3b3b3b;
  fill: transparent;

  transition: stroke 300ms ease-in;
}
@media (hover: hover) {
  .swiper-button-next:hover .swiper-arrow-next,
  .swiper-button-next:focus .swiper-arrow-next {
    stroke: var(--main-color);
  }
}
@media not (hover: hover) {
  .swiper-button-next:active .swiper-arrow-next {
    stroke: var(--main-color);
  }
}
/* #endregion */

/* #region MEDIA 768px */

@media only screen and (min-width: 768px) {
  .about-me-text {
    font-weight: 500;
    font-size: 38px;
    line-height: 105%;

    padding-left: 64px;
    padding-top: 64px;
    padding-right: 64px;
    padding-bottom: 436px;
  }
  .about-me-text-wrapper {
    background: #242527;
    max-width: 704px;

    border-radius: 24px;

    margin-bottom: 16px;
  }
  .about-me-image-wrapper {
    max-width: 704px;
    border-radius: 24px;
  }

  .about-me-image-wrapper picture img {
    width: 704px;
  }
  .about-me-accordion-wrapper {
    width: 100%;
    max-width: 704px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .acc {
    margin-bottom: 20px;
  }

  .acc-btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    font-size: 18px;
  }
  .acc-arrow-circle {
    width: 40px;
    height: 40px;
  }
  .acc-text {
    margin-bottom: 16px;
  }
  .acc-text:last-child {
    margin-bottom: 0px;
  }
  .acc.is-active .acc-btn {
    padding-bottom: 8px;
  }
  .acc-content {
    padding-bottom: 32px;
  }

  .about-me-container-swiper {
    width: 100%;
  }
  .about-me-swiper.skills-swiper {
    max-width: 600px;
  }
  .about-me-swiper .swiper-slide-transform {
    width: 200px;
    height: 200px;
  }
}
/* #endregion */

/* #region MEDIA 1440px */

@media only screen and (min-width: 1440px) {
  .about-me-section {
    padding-top: 96px;
  }
  .about-me-image-and-text-wrap {
    display: flex;
    gap: 16px;
  }
  .about-me-text {
    font-weight: 500;
    font-size: 38px;
    line-height: 105%;

    padding-left: 64px;
    padding-top: 64px;
    padding-right: 64px;
    padding-bottom: 436px;
  }
  .about-me-text-wrapper {
    background: #242527;
    max-width: 680px;

    border-radius: 24px;

    margin-bottom: 0;
  }
  .about-me-image-wrapper {
    max-width: 680px;
    border-radius: 24px;
  }

  .about-me-image-wrapper picture img {
    width: 680px;
  }
  .about-me-accordion-wrapper {
    width: 100%;
    max-width: 1376px;
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .acc-btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    font-size: 18px;
  }
  .acc-content {
    max-width: 612px;
    max-height: 10000px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: auto;
    padding-top: 8px;
    margin-right: 68px;
  }

  .acc-list .acc-text {
    margin-bottom: 0;
  }
  .acc-list .acc-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .acc-list .acc-item:last-child {
    margin-bottom: 0;
  }
  .about-me-container-swiper {
    max-width: 1312px;
    width: 100%;

    overflow: hidden;
  }
  .about-me-swiper.skills-swiper {
    max-width: 1224px;
    margin-right: 48px;
  }
  .about-me-swiper .swiper-slide-transform {
    width: 200px;
    height: 200px;

    flex-shrink: 0;
  }
  .swiper-arrow-next {
    width: 40px;
    height: 40px;
  }
}
/* #endregion */
