/* #region FAQ section */
.faq-title {
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

/* #region elements Accordion */
.faq-item {
  margin-bottom: 20px;
}

.faq-item:first-child::before,
.faq-item::after {
  margin-bottom: 20px;
  content: '';
  border: 1px solid #fafafa;
  opacity: 0.2;
  display: block;
}

.faq-item::after {
  margin-top: 20px;
  margin-bottom: 0;
}

.faq-item.faq-item:last-child {
  margin-bottom: 0;
}

.faq-item.is-active::after {
  margin-top: 20px;
}

.faq-item-visible-container {
  display: flex;
}

.faq-item-title {
  display: flex;
  letter-spacing: -0.02em;
  max-width: 289px;
}

.faq-item-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: inherit;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  opacity: 1;
  min-width: 34px;
  height: 34px;
  margin-left: auto;
  transition: border-color 300ms ease-in;
}
@media (hover: hover) {
  .faq-item-toggle:is(:hover, :focus) {
    border-color: var(--main-color);
  }
}
@media not (hover: hover) {
  .faq-item-toggle:active {
    border-color: var(--main-color);
  }
}
.faq-item.is-active .arrow-icon {
  transform: rotate(180deg);
}

.arrow-icon {
  stroke: #fafafa;
  fill: transparent;
  transition: transform ease-in 300ms;
}

.faq-item-description {
  margin-top: 0;
  opacity: 0.6;
  overflow: hidden;
  letter-spacing: -0.02em;
}

.faq-item.is-active .faq-item-description {
  margin-top: 20px;
}

/* #endregion */
/* #region FAQ Tablet */
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .faq-item-description {
    margin-top: 26px;
    max-width: 656px;
    margin-bottom: 6px;
  }
}
@media only screen and (min-width: 768px) {
  .faq-item:first-child::before,
  .faq-item {
    margin-bottom: 32px;
  }
  .faq-item-title {
    max-width: 574px;
  }

  .faq-item:last-child .faq-item-title {
    max-width: 485px;
  }

  .faq-item.is-active .faq-item-description {
    margin-top: 26px;
    max-width: 656px;
    margin-bottom: 24px;
  }
  .faq-item-toggle {
    min-width: 40px;
    height: 40px;
  }
}

/* #endregion */
/* #region Css-grid-desktop */

@media only screen and (min-width: 1440px) {
  .faq-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .faq-item::after,
  .faq-item:first-child::before {
    display: none;
  }

  .faq-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    margin: 0;
    padding: 32px;
  }

  .faq-item-description {
    margin-top: 0;
  }

  .faq-item.is-active .faq-item-description {
    margin-top: 26px;
  }

  .faq-item:nth-child(1) {
    order: 1;
  }
  .faq-item:nth-child(2) {
    order: 3;
  }
  .faq-item:nth-child(3) {
    order: 5;
  }
  .faq-item:nth-child(4) {
    order: 2;
  }
  .faq-item:nth-child(5) {
    order: 4;
  }
  .faq-item:nth-child(6) {
    order: 6;
  }
  .faq-item:nth-child(-n + 3) {
    border-left: none;
    padding-left: 0;
  }
  .faq-item:nth-child(n + 4) {
    border-right: none;
    padding-right: 0;
  }
}
/*#endregion */
/* #endregion */
