/* #region header base */
header {
  background-color: transparent;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 32px;
  z-index: 1;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.no-scroll {
  overflow: hidden;
}

/* #endregion */

/* #region header logo */
.header-logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.header-logo-icon{
  fill: var(--main-color);
  height: 19px;
}

.logo-img {
  object-fit: none;
}
/* #endregion */

/* #region tablet and desktop menu */

.menu {
  display: none;
  text-decoration: underline;
  letter-spacing: -0.02em;
}

.nav {
  display: flex;
  height: 0;
  gap: 5px;
  visibility: hidden;
  overflow: hidden;
  transition: visibility 0s 0.4s, transform 0.4s ease;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-20px);
}

.nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

@media only screen and (min-width: 768px) {
  .nav.is-open {
    visibility: visible;
    transform: translateY(0);
    height: auto;
    transition: visibility 0s, transform 0.4s ease;
  }
}
/* #endregion */

/* #region buttons */
.order-project-btn {
  display: none;
  background-color: var(--accent-color);
  border: none;
  border-radius: 60px;
  width: 163px;
  height: 55px;
  pointer-events: auto;
}

.order-project-btn-modal {
  background-color: var(--accent-color);
  border: none;
  border-radius: 60px;
  width: 163px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.order-project-btn:hover {
  background-color: var(--accent-hover-color);
}
.burger-btn{ 
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.burger-svg {
  fill: var(--main-color);
}
/* #endregion */

/* #region media screen */
@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }

  .burger-btn {
    display: none;
  }

  .order-project-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* #endregion */

/* #region theme-toggle */
.header-right-side {
  display: flex;
  gap: 8px;
  align-items: center;
}

.theme-container {
  position: relative;
}

.themes-toggle {
  background-color: inherit;
  border: 1px solid #3B3B3B;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.themes-switcher-icon {
  width: 20px;
  height: 20px;
  fill: #FAFAFA;
  transition: transform 0.5s ease-in-out;
}

.themes-option {
  border: 1px solid #242527;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.overlay-themes-menu {
  position: absolute;
  top: 35px;
  transform: translateX(-23%);
  display: none;
  background-color: #3B3B3B;
  border: 1px solid #242527;
  border-radius: 6px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 6px;
}

.overlay-themes-menu.is-active {
  display: flex;
}

.themes-option {
  display: flex;
}

.themes-option.is-active {
  border: 2px solid #ED3B44;
}

.themes-option:nth-child(1) {
  background: linear-gradient(-90deg, #1C1D20 43%, #001958 63%, #0041E8 100%);
}

.themes-option:nth-child(2) {
  background: linear-gradient(-90deg, #1C1D20 43%, #69292D 63%, #ED3B44 100%);
}

.themes-option:nth-child(3) {
  background: linear-gradient(-90deg, #1C1D20 43%, #9F3626 63%, #E6533C 100%);
}

.themes-option:nth-child(4) {
  background: linear-gradient(-90deg, #1C1D20 43%, #1E3633 63%, #2B4441 100%);
}

.themes-option:nth-child(5) {
  background: linear-gradient(-90deg, #1C1D20 43%, #355A1A 63%, #4E7A2E 100%);
}

.themes-option:nth-child(6) {
  background: linear-gradient(-90deg, #1C1D20 43%, #AC5300 63%, #FF7F08 100%);
}

@media only screen and (min-width:768px) {
  .header-right-side {
    gap: 12px;
  }

  .themes-toggle {
    width: 55px;
    height: 55px;
  }

  .themes-switcher-icon {
    width: 28px;
    height: 28px;
  }

  .overlay-themes-menu {
    top: 62px;
    transform: translateX(0%);
  }
  
  .themes-option {
    width: 42px;
    height: 42px;
  }
}

@media only screen and (min-width:768px) {
  .themes-option {
      width: 48px;
      height: 48px;
    }
  
    .overlay-themes-menu {
      width: 130px;
      gap: 8px;
      top: 72px;
    }
}
/* #endregion */