/* #region header base */
header {
  background-color: transparent;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* #endregion */

/* #region header logo */
.header-logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
/* #endregion */

/* #region tablet and desktop menu */
.menu-tablet-desktop {
  position: relative;
}

.menu {
  position: absolute;
  display: none;
  text-decoration: underline;
  letter-spacing: -0.02em;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  position: absolute;
  display: flex;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: visibility 0s 0.8s, max-height 0.8s ease-in-out;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.nav.is-open {
  visibility: visible;
  max-height: 500px;
  transition: visibility 0s, max-height 0.8s ease-in-out;
}
/* #endregion */

/* #region buttons */
.order-project-btn {
  display: none;
}

.order-project-btn,
.order-project-btn-modal {
  background-color: var(--accent-color);
  border: none;
  border-radius: 60px;
  width: 163px;
  height: 55px;
}

.order-project-btn:hover,
.order-project-btn-modal:hover {
  background-color: var(--accent-hover-color);
}
/* #endregion */

/* #region media screen */
@media only screen and (min-width: 768px) {
  .menu {
    display: block;
  }

  .burger-svg {
    display: none;
  }

  .order-project-btn {
    display: block;
  }
}
/* #endregion */

/* #region modal menu */
.modal-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-image: url('../img/hero/hero-mobile-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}

.modal-menu.is-open {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.modal-close-svg {
  margin-left: auto;
  margin-right: 16px;
  margin-top: 32px;
}

.nav-modal {
  text-decoration: underline;
}

.order-project-btn-modal {
  margin-bottom: 64px;
  height: 45px;
}
/* #endregion */
