.work-message.iziToast.error {
  background-color: var(--accent-color);
  color: var(--main-color);
  font-family: var(--font-family);
  box-sizing: border-box;
  min-width: 300px;
  min-height: 74px;
  max-width: 500px;
  padding: 20px;
}
.work-message.iziToast.error > .iziToast-body {
  margin-left: 8px;
  margin-right: 24px;
  padding: 0;
  min-height: 100%;
}
.work-message.iziToast.error > .iziToast-body .iziToast-icon {
  width: 32px;
  height: 32px;
  margin-top: -13px;
}
.work-message.iziToast.error > .iziToast-body .iziToast-texts {
  display: flex;
  align-items: center;
  line-height: 1.5;
}
.work-message.iziToast.error > button.iziToast-close {
  background-size: 16px;
}
.work-message.iziToast.error > .iziToast-cover {
  top: 20px;
  left: 20px;
  height: 24px;
  background-color: transparent;
}

.work-message.iziToast.error > .iziToast-body .iziToast-title,
.work-message.iziToast.error > .iziToast-body .iziToast-message {
  color: var(--main-color);
  line-height: 18px;
}
.work-message.iziToast.error > .iziToast-body .iziToast-message {
  font-size: 16px;
  margin: 0;
}
.work-message.iziToast.error > .iziToast-body .iziToast-title {
  font-weight: 600;
  font-size: 18px;
  margin-left: 4px;
}
