.modal-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-20px);
  transition: 0.3s ease;
  transition-property: opacity, transform, visibility;
  background: linear-gradient(
    to right,
    var(--accent-color) 50%,
    var(--background-color) 50%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}
.mobile-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding-bottom: 64px;
  background-image: image-set(
    var(--background-image-menu1x) 1x,
    var(--background-image-menu2x) 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.modal-close-btn {
  margin-left: auto;
  margin-right: 16px;
  margin-top: 32px;
  border: none;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 200ms ease-in;
}
@media (hover: hover) {
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    animation: animationCloseBtn 0.3s ease-in forwards;
    transform: scale(1.1);
  }
}

@media not (hover: hover) {
  .modal-close-btn:active {
    animation: animationCloseBtn 0.3s ease-in forwards;
    transform: scale(1.1);
  }
}
.nav-modal {
  text-decoration: underline;
}

.nav-list-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.order-project-btn-modal {
  height: 45px;
}

@media (hover: hover) {
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    animation: animationCloseBtn 0.3s ease-in forwards;
    transform: scale(1.1);
  }
}

@media (hover: hover) {
  .order-project-btn-modal:is(:hover, :focus) {
    background-color: var(--accent-hover-color);
  }
}
@media not (hover: hover) {
  .order-project-btn-modal:active {
    background-color: var(--accent-hover-color);
  }
}

.modal-close-svg {
  stroke: var(--main-color);
  fill: transparent;
}
